{% extends 'base.html' %}
{% block title %}Список студентов{% endblock %}
{% block content %}



<form method="get" class="row g-2 align-items-end mb-4">
    <div class="col-md-5">
        <label class="form-label">Поиск по фамилии</label>
        <input type="text" name="q" class="form-control" placeholder="Введите фамилию"
               value="{{ request.GET.q|default:'' }}">
    </div>

    <div class="col-md-4">
        <label class="form-label">Фильтр по курсу</label>
        <select name="course" class="form-select">
            <option value="">Все курсы</option>
            {% for i in "12345" %}
                <option value="{{ i }}" {% if request.GET.course == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <button type="submit" class="btn btn-light w-100" style="background-color: #f8c8dc;">Применить</button>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>Фамилия и имя</th>
                <th>Курс</th>
                <th>Программа</th>
                <th>Осталось лет до выпуска</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.full_name }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.program }}</td>
                <td>{{ student.eta }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Нет студентов</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    

    <p><strong>Статистика по курсам:</strong>
        {% for stat in course_stats %}
            {{ stat.course }} курс — {{ stat.count }} студент{% if stat.count|pluralize:",a" %}{{ stat.count|pluralize:",a" }}{% endif %}
            {% if not forloop.last %}, {% endif %}
        {% empty %}
            Нет данных
        {% endfor %}
    </p>
    <p><strong>Всего студентов:</strong> {{ total_students }}</p>
    

{% endblock %}



